*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aqua;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: rgb(109, 104, 104);
    padding: 20px;
    border-radius: 10px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px  -8px 15px rgba(255,255,255,0.1), 6px 6px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex:1;
    font-size: 40px;
    box-shadow: none;

}

 form input.equal{
    width:  146px;
}